/* Colors
Yellox: #FFBE00
Navy: #192B37

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -------- Temporary styles for structural html ----------*/

/* section {
    padding: 0.5rem;
    border: 1px solid rgb(240,240,240)
}*/

/* Image Styles */

.bg-image {
    background-image: url('/images/the-sleep-co-3.jpg');
    background-size: cover;
    min-height: 10rem;
    background-position: 50% 54%;
}

/* Universal Styles & Utility classes */

body {
    font-family: "Catamaran", sans-serif;
    color: #192B37;
}

.padded-5 {padding: 5%;}
.padded-1 {padding: 1rem;}
.padded-10{padding: 10%;}

.bg-dark {
    background-color:#192B37;
    color: white;
}

.tall-50{min-height:50vh; }
.tall-60{min-height:60vh; }
.tall-70{min-height:70vh; }
.tall-80{min-height:80vh; }
.tall-90{min-height:90vh; }
.tall-100{min-height:100vh;}

/* Typography styles */
        /* always set the line-heightfirst because on small screens your titles can be displayed in two lines */
h2{
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}

h3 {
    line-height: 1;
}

        /* note: think about efficienty: what if there are a lot of paragraphs on your site */
p {
    font-weight: 200; 
    line-height: 1.5;
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: inherit; 
    text-decoration: none; 
    border-bottom: 1px solid;
}

a:hover{
    color: #FFBE00;
}

.featured-text{color: #FFBE00;}
.white-text{color: white;}

.small-text{font-size: 1.5rem;}
.medium-text{
    font-size: 1.8rem;
    line-height: 1.3;
}
.big-text{font-size: 5rem;}

.subtitle { 
    font-size: 1.2rem;
    color: rgb(120,120,125);
}

.quote-icon{
    font-size: 6rem;
    color: rgb(120,120,125);
    display: inline-block;
    line-height: 1;
}

.font-weight-light{font-weight: 200;}
.font-weight-normal{font-weight: normal;}
.font-weight-extra-bold{font-weight: 800;}

.text-left {text-align: left;}
.text-center{text-align:center;}
.text-right{text-align:right;}


/* Header en footer  styles */
header{
    background-image: url('/images/the-sleep-co-4.jpg');
    background-size: cover;
    background-position: center;
}

header h3 {
    font-size: 5.5rem;
    line-height: 1 ;
}

footer a {
    border-bottom: none;
}
/* Background images */

.bg-bed{
    background-image: url('/images/the-sleep-co-3.jpg');
}

.bg-pug{
    background-image: url('/images/the-sleep-co-1.jpg');
    background-position: 50% 35%;
}

.bg-pillow{
    background-image: url('/images/the-sleep-co-2.jpg')

}

/* Icon grid */

.fas{
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}